*{
    font-family: 'Orbitron', sans-serif;
}
.click{
    cursor: pointer;
}
h3.click:hover{
    text-decoration: underline !important;
    color: white !important;
}
#app{
    width: 100vw;
    height: 100vh;
}

.About{
    background-position: 0% 0% !important;
    background-size: auto 200% !important;
    width: 30px;
    height: 30px;
    background: url('../img/pickup_About.b2ed49b0.png');
}

.floor{
    height: 100px;
    position: absolute;
    width: 100vw;
    bottom: 0;
    background: url('../img/piso1.jpeg') repeat-x;
  }

.walking-1{
    background-position: 100% 0%;
}
.walking-2{
    background-position: 75% 0%;
}
.walking-3{
    background-position: 50% 0%;
}
.walking-0{
    background-position: 0% 0%;
}
.stop-front{
    background-position:0 0 !important; 
}
.walk-front{
    background-position:90% 0 !important;
}

.stop-back{
    background-position:0 100% !important; 
}
.walk-back{
    background-position:90% 100% !important;
}

